$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

//colors

$black: #121212;
$grey: #808080;
$dark-grey: #424245;
$light-grey: #D2D2D7;
$extra-light: #F5F5F7;
$white: #FFFFFF;
$success: #32936F;

$red: #F55F56;
$dark-grey: #424245;
$silver: #D2D2D7;
$space-grey: #808080;
$gold: #FFEEDA;
